/* GENERAL */
body  {
    margin: 0;
    padding: 0;
    background-color: bisque;
    box-sizing: border-box;
    background-image: url(./images/fire_background.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
h2 {
    margin: 10px;
    padding: 0;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.shadow {
    text-shadow: 2px 2px 4px grey;
}

/* BOUTON */
button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  button {
    padding: 19px 32px;
  }
}

button:before,
button:after {
  border-radius: 80px;
}

button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

button:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

button:active:not(:disabled) {
  color: #ccc;
}

button:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

button:disabled {
  cursor: default;
  opacity: .24;
}

input {
    height: 30px;
}

/* TETE DE PAGE */
#welcome-page {
    background-color: brown;
    display: grid;
    text-align: center;
}
h1 {
    font-size: 50px;
    font-family: "Moon Dance", cursive;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 7px;
}
#welcome-page p {
    font-size: 22px;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
}

/* PAGE D'ACCUEIL (SELECTION NBRE JOUEURS) */
#number-of-player-page {
    border: solid 3px black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.7);
}

/* PAGE JOUEUR */
#player-page {
    border: solid 3px black;
    margin: 7px auto;
    padding: 0;
    text-align: center;
    background-color: rgb(248, 217, 180);
    display: none;
    max-width: 300px;
    border-radius: 30px;
}
#player-name {
    font-size: 30px;
}

/* PAGE DE JEU */
#game-page {
    border: solid 3px black;
    margin: 20px;
    padding: 10px;
    text-align: center;
    z-index: 10;
    background-color: rgb(255, 255, 255, 0.7);
    display: none;
}
label {
    width: 100%;
    padding-bottom: 10px;
    font-size: 22px;
}
#game-page>p {
    font-size: 19px;
}
#victory {
    border: solid 3px black;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    z-index: 10;
    background-color: rgb(255, 255, 255, 0.7);
    display: none;
    max-width: 600px;
    min-height: 250px;
    justify-content: center;
    flex-direction: column;
}
#victory>p {
    width: 100%;
    margin: 0;
    font-size: 22px;
}
#victory>button {
    max-width: 200px;
    margin: 0 auto;
}



